.box-proyecto {
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    text-decoration: none;
    color: inherit;
}


@media (max-width: 800px) {
    .box-proyecto {
        display: flex;
        flex-direction: column;
    }
}


:host {
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
}

:host(:hover) {
    transform: scale(0.95);
}

.titulo-proyecto {
    font-weight: 700;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.img-project {
    border-radius: 5px;
}

.image-box {
    margin: 0rem !important;
    flex: 60%;
}

.data-box {
    margin: 1rem;
    flex: 40%;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0px 12px 0px;
    font-family: 'Jost Regular';
}

.tag {
    margin: 0px 5px 0px 0px;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: var(--background-color-tag);
    color: var(--text-color-tag);
}