// .box-proyecto{
//     max-width: 500px;
// }
.titulo-proyecto{
    font-weight: 700;
    font-size: x-large;
    margin-bottom: 1rem;
    cursor: pointer;
}

.img-project{
    max-width: 400px;
}

.tag{
    margin: 0px 5px;
    border: 1px solid ;
}