// .box-proyecto{
//     max-width: 500px;
// }
.titulo-proyecto{
    font-weight: 700;
    font-size: x-large;
    margin-bottom: 1rem;
    cursor: pointer;
}

.img-project{
    border-radius: 5px;
}

.tags{
    display: flex;
    margin: 12px 0px 12px 0px;
}

.tag{
    margin: 0px 5px 0px 0px;
    border-radius: 5px;
    padding: 5px;
    background-color: #0000000F;
}