.box-proyecto {
    height: 100%;
}

:host {
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
}

:host(:hover) {
    transform: scale(0.95);
}

.titulo-proyecto {
    font-weight: 700;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.img-project {
    border-radius: 5px;
}

.tags {
    display: flex;
    margin: 12px 0px 12px 0px;
    font-family: 'Jost Regular';
}

.tag {
    margin: 0px 5px 0px 0px;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: var(--background-color-tag);
    color: var(--text-color-tag);
}