<div class="box box-proyecto">
    <figure class="image-box"><img src="{{project.image}}" alt="img-{{project.name}}" class="img-fluid img-project">
    </figure>
    <div class="data-box">
        <div class="tags">
            <p class="tag text-uppercase t-12">{{project.position}}</p>
            <p class="tag text-uppercase t-12">{{project.type_contract}}</p>
        </div>
        <h2 class="titulo-proyecto t-16">{{project.name}}</h2>
        <p class="t-13">{{project.description}}</p>
    </div>
</div>