select{

	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

    box-shadow: var(--box-shadow);  
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    padding: 2px 8px;
    background-color: var(--background-color-box);

    &:hover{
        background-color: var(--background-color-box-hover);
    }
}

.options{
    background-color: aliceblue;
    border-radius: 20px !important;
}