select{

	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;  
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    padding: 2px 8px;
}

.options{
    background-color: aliceblue;
    border-radius: 20px !important;
}