.breadcrumb {
    text-decoration: none;
    color: #7e858c;
    margin-right: 8px;
    padding: 4px 8px;
    border-radius: 5px;
    transition: text-decoration 1s ease-in-out;
    &.active {
        font-weight: bold;
        color: #000;
    }

    &:hover {
        text-decoration: underline;

    }
}