$primary: #8172b7;

// .theme-bertas {
//     --font-color: #1f2229;
//     --primary-color: #8172b7;
//     --secundary-color: #d9d3ee;
//     --background-color: #f0f0f0;
//     --background-color-box: rgba(255, 255, 255, 0.5);
//     --background-color-transparent: ;
//     --hover-color: rgba(192, 133, 235, 0.5);
//     --border-color: rgba(255, 255, 255, 0.25);
// }   

$font-color: #1f2229;
$primary-color: #8172b7;
$secundary-color: #d9d3ee;
$background-color: #f0f0f0;
$background-color-box: rgba(255, 255, 255, 0.5);
// $background-color-transparent: ;
$hover-color: rgba(192, 133, 235, 0.5);
$border-color: rgba(255, 255, 255, 0.25);
 