
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    )
  ));
}@import 'assets/styles/_variables.scss';
@import 'assets/styles/_typography.scss';

body{
    font-family: 'Inter';
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    transition: background-color 0.3s ease, color 0.3s ease
}

a{
    color: var(--text-color);
}

.box{
    backdrop-filter: blur(10px);
    background: var(--background-color-box);
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--box-border-radius);
    padding: 16px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
