@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.ttf');
}

@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
}

//font sizes

.t-12{
    font-size: 12px;
}
.t-13{
    font-size: 13px;
}
.t-14{
    font-size: 14px;
}
.t-16{
    font-size: 16px;
}