.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.filters-section{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.projects-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}